<section class="container about wrapper">
    <div class="row about__wrapper">
        <div class="col-xs-12 text-xs-center about__header">
            <h2 class="h1">What is IESE Spring Games?</h2>
        </div>
        <div class="col-xs-12 about__content">
            <p>At IESE Spring Games, IESE Business School plays host to over 1000 students from more than 10 top MBA schools. We offer up our beaches, sports fields, and nightclubs to give you one of the best weekends of your MBA. While the sun’s up you’ll face hot competition against your rivals from all over world, and spend the night partying and making new friends in the famous beach clubs of Barcelona.</p>
            <p>This year’s competition takes place from Friday 7th April – Sunday 9th April. Your ticket includes one day’s beach sport, two days of field sport, entry to three parties, and dinner on the closing night. Plus all of your food and drink during the day, kindly supported by our sponsor.</p>
        </div>
    </div>
</section>

<section class="container about wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-3 pr-0">
            <img class="img-fluid" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1480590128/1_What_is_IESE_ehcexg.png">
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="container-fluid px-0">
                <div class="row about__wrapper">
                    <div class="col-xs-12 text-xs-center about__header">
                        <h2 class="h1">What is IESE Spring Games?</h2>
                    </div>
                    <div class="col-xs-12 about__content">
                        <p>At IESE Spring Games, IESE Business School plays host to over 1000 students from more than 10 top MBA schools. We offer up our beaches, sports fields, and nightclubs to give you one of the best weekends of your MBA. While the sun’s up you’ll face hot competition against your rivals from all over world, and spend the night partying and making new friends in the famous beach clubs of Barcelona.</p>
                        <p>This year’s competition takes place from Friday 7th April – Sunday 9th April. Your ticket includes one day’s beach sport, two days of field sport, entry to three parties, and dinner on the closing night. Plus all of your food and drink during the day, kindly supported by our sponsor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>