<ul class="hidden-sm-down col-xs-6">
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Soccer</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Table Tennis</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Tennis</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Track & Field</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Ultimate Frisbee</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Salsa (at a club)</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">And more...</span></li>
</ul>