<div class="row">
    <div class="col-xs-12 mb-2 text-xs-center text-md-left">
        <h5>Saturday and Sunday are spent on the field, battling for your school’s honour at sports including:</h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 pr-0">
        <picture>
            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,q_auto,w_270/c_scale,q_auto,w_200/v1480763614/11_Day_Sub_2_i65qrg.png" media="(min-width: 768px)">
            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,q_auto,w_270/c_scale,q_auto,w_100/v1480763614/11_Day_Sub_2_i65qrg.png" class="img-fluid mx-auto d-block">
        </picture>
    </div>
    <div class="col-xs-8 mb-1 sports">
        <div class="row">
            <%= render :partial => 'partials/agenda-sports-1' %>
            <%= render :partial => 'partials/agenda-sports-2' %>
        </div>
        <span class="hidden-sm-up">Badminton, basketball, volleyball, cricket, paddle tennis, rugby, sailing (regatta), soccer, table tennis, tennis, track & field, ultimate frisbee, salsa (competition conducted at the club) and more...</span>
    </div>
</div>