<ul class="hidden-sm-down col-xs-6">
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Badminton</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Basketball</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Volleyball</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Cricket</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Paddle Tennis</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Rugby</span></li>
    <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Sailing (Regatta)</span></li>
</ul>