<section class="container agenda wrapper">
    <div class="row agenda__header__wrapper">
        <div class="col-xs-12 text-xs-center agenda__header__content">
            <h2 class="agenda__header__title h1">Spring Games by Day</h2>
        </div>
    </div>
    <div class="agenda__body__wrapper row">
        <div class="col-xs-12 agenda__body__content">
            <div class="agenda__body__content__beach__container container-fluid wrapper__inner">
                <div class="row agenda__body__content__beach__row row">
                    <div class="agenda__body__content__beach__col header col-xs-12">
                        <h6 class="agenda__body__content__beach header title">By day, against your MBA rivals at over 15 sports. You'll spend Friday on the beach, trying to take down the IESE beach bums at:</h6>
                    </div>
                </div>
                <div class="row agenda__body__content__beach__row row">
                    <div class="agenda__body__content__beach__col header col-xs-12">
                        <ul class="list-group">
                            <li class="list-group-item">Beach Volleyball</li>
                            <li class="list-group-item">Beer Pong</li>
                            <li class="list-group-item">Beach Soccer</li>
                            <li class="list-group-item">Sailing</li>
                            <li class="list-group-item">And more to come...</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="agenda__body__content__sports__container container-fluid wrapper__inner">
                <div class="row agenda__body__content__sports__row row">
                    <div class="agenda__body__content__sports__col header col-xs-12">
                        <h6 class="agenda__body__content__sports header title">Saturday and Sunday are spent on the field, battlig for your school's honour at sports including:</h6>
                    </div>
                </div>
                <div class="row agenda__body__content__sports__row row">
                    <div class="agenda__body__content__sports__col header col-xs-12">
                        <ul class="list-group container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <li class="list-group-item">Badminton</li>
                                    <li class="list-group-item">Basketball</li>
                                    <li class="list-group-item">Volleyball</li>
                                    <li class="list-group-item">Cricket</li>
                                    <li class="list-group-item">Paddle Tennis</li>
                                    <li class="list-group-item">Rugby</li>
                                    <li class="list-group-item">Soccer</li>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <li class="list-group-item">Table Tennis</li>
                                    <li class="list-group-item">Tennis</li>
                                    <li class="list-group-item">Track & Field</li>
                                    <li class="list-group-item">Ultimate Frisbee</li>
                                    <li class="list-group-item">Salsa (in a club)</li>
                                    <li class="list-group-item">And more...</li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="agenda__body__content__sports__container container-fluid wrapper__inner">
                <div class="row agenda__body__content__sports__row row">
                    <div class="agenda__body__content__sports__col header col-xs-12">
                        <h6 class="agenda__body__content__sports header title">And for supporters, there will be a whole host of sideline activities, including:</h6>
                    </div>
                </div>
                <div class="row agenda__body__content__sports__row row">
                    <div class="agenda__body__content__sports__col header col-xs-12">
                        <ul class="list-group">
                            <li class="list-group-item">Live bands and DJs</li>
                            <li class="list-group-item">Beer gardens</li>
                            <li class="list-group-item">Obstacle courses</li>
                            <li class="list-group-item">Mini sports</li>
                            <li class="list-group-item">Competitions</li>
                            <li class="list-group-item">Rugby</li>
                            <li class="list-group-item">Soccer</li>
                            <li class="list-group-item">Table Tennis</li>
                            <li class="list-group-item">Tennis</li>
                            <li class="list-group-item">Track & Field</li>
                            <li class="list-group-item">Ultimate Frisbee</li>
                            <li class="list-group-item">Salsa (in a club)</li>
                            <li class="list-group-item">And more...</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</section>