<div class="row">
    <div class="col-xs-12 mb-2 text-xs-center text-md-left">
        <h5>By day, compete against your MBA rivals at over 15 sports. You’ll spend Friday on the beach, trying to take down the IESE beach bums at:</h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 pr-0">
        <picture>
            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_250/c_scale,q_auto,w_200/v1480763614/11_Day_Sub_1_segptw.png" media="(min-width: 768px)">
            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_250/c_scale,q_auto,w_100/v1480763614/11_Day_Sub_1_segptw.png" class="img-fluid mx-auto d-block">
        </picture>
    </div>
    <div class="col-xs-8 mb-2">
        <ul class="hidden-sm-down">
            <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Beach Volleyball</span></li>
            <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Beer Pong</span></li>
            <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Beach Soccer</span></li>
            <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Recreational Sailing</span></li>
            <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">And more to come...</span></li>
        </ul>
        <span class="hidden-sm-up">Beach volleyball, beer pong, beach soccer, recreational sailing and more to come...</span>
    </div>
</div>