<div class="row">
    <div class="col-xs-12 mb-2 text-xs-center text-md-left">
        <h5>And for supporters, there will be a whole host of sideline activities, including:</h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 pr-0">
        <picture>
            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,q_auto,w_270/c_scale,w_200/v1480763614/11_Day_Sub_3_pfoz9a.png" media="(min-width: 768px)">
            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,q_auto,w_270/c_scale,w_100/v1480763614/11_Day_Sub_3_pfoz9a.png" class="img-fluid mx-auto d-block">
        </picture>
    </div>
    <div class="col-xs-8 mb-2">
        <ul class="hidden-sm-down">
            <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Live bands and DJs</span></li>
            <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Beer gardens</span></li>
            <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Obstacle courses</span></li>
            <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Mini sports competitions</span></li>
            <li class="my-1 text-xs-center text-md-left"><span class="h5 font-weight-normal">Inflatable sports, minigolf, and whatever crazy things we can think of</span></li>
        </ul>
        <span class="hidden-sm-up">Live bands and DJs, beer gardens, obstacle courses, Mini sports competitions, inflatable sports, minigolf, and whatever crazy things we can think of</span>
    </div>
</div>