<div class="row mb-2">
    <div class="col-xs-12 col-sm-3 mb-1">
        <picture>
            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_250/c_scale,w_200/v1480763613/15_BCN_Sub_4_mgteya.png" media="(min-width: 768px)">
            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_250/c_scale,w_100/v1480763613/15_BCN_Sub_4_mgteya.png" class="img-fluid mx-auto d-block">
        </picture>
    </div>
    <div class="col-xs-12 col-sm-9 text-xs-center text-md-left">
        <h4 class="iese font-weight-bold mb-1">Where to enjoy Spanish Delicacy?</h4>
        <p>Coming Soon!</p>
    </div>
</div>