<section class="container barcelona wrapper" id="barcelona">
    <div class="row">
        <div class="col-xs-12 col-sm-3 pr-0 mb-1">
            <picture>
                <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_200/v1480763614/14_BCN_nigvrf.png" media="(min-width: 768px)">
                <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_100/v1480763614/14_BCN_nigvrf.png" class="img-fluid mx-auto d-block">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="row">
                <div class="col-xs-12 text-xs-center text-md-left">
                    <h2 class="iese font-weight-bold">Destination Barcelona</h2>
                    <h5 class="mb-3">We're ready to host you in our home, Barcelona! We know you'll love it. Barcelona has everything:</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <%= render :partial => 'partials/barcelona-1'%>
                    <%= render :partial => 'partials/barcelona-2'%>
                    <%= render :partial => 'partials/barcelona-3'%>
                    <%= render :partial => 'partials/barcelona-4'%>
                </div>
            </div>
        </div>
    </div>
</section>