<div class="row mb-3">
    <div class="col-xs-12 col-sm-3 mb-1">
        <picture>
            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_250/c_scale,q_auto,w_200/v1480763613/15_BCN_Sub_2_hz6lmu.png" media="(min-width: 768px)">
            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_250/c_scale,q_auto,w_100/v1480763613/15_BCN_Sub_2_hz6lmu.png" class="img-fluid mx-auto d-block">
        </picture>
    </div>
    <div class="col-xs-12 col-sm-9 text-xs-center text-md-left">
        <h4 class="iese font-weight-bold mb-1">Where to stay?</h4>
        <p>Barcelona is the 3rd top European city in terms of tourism. As such, there is a huge range of accommodation options, from top hotels such as the <%= link_to 'W hotel', 'http://www.w-barcelona.com/', :class => 'iese', :target => '_blank' %> on the beach, to the more student-friendly <%= link_to 'Airbnb', 'https://www.airbnb.com/', :target => '_blank', :class => 'iese' %> options.</p>
        <p>In terms of location, there are several districts in Barcelona. We recommend to stay in the Eixample district, which is a great jumping off point for IESE Spring Games beach and field locations, as well as being close to the main tourist attractions of the city.</p>
        <div class="row">
            <div class="col-xs-12">
                <h5 class="iese font-weight-bold mb-1">Map of Barcelona</h5>
                <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1490089287/barcelona-neighbourhood-map_w9nsky.jpg" class="img-fluid mx-auto d-block">
            </div>
        </div>
        <div class="row">
            <div class="col-xs mt-2 text-center">
                <p class="font-weight-bold text-center" style="text-align: center;">Please focus your lodging search in the below designated areas, which have easy access to public transportation as well as taxis.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 text-center">
                <h5 class="iese font-weight-bold my-1" style="text-align: center;">L'Eixample district</h5>
                <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1490089293/Eixample_pz6spy.jpg" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-xs-12 col-md-6 text-center mb-2 mb-md-0">
                <h5 class="iese font-weight-bold my-1" style="text-align: center;">Gràcia district</h5>
                <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1490089298/Gracia_28below_Lesseps_29_emvszp.jpg" class="img-fluid mx-auto d-block">
            </div>
        </div>
        <p>If you need any help with accommodation, please get in touch with our school relations VPs: <%= link_to 'Edma', 'mailto:edma.perini@iese.net', :class => 'iese' %> and <%= link_to 'Jigna', 'mailto:Jigna.dodia@iese.net', :class => 'iese' %>.</p>
    </div>
</div>