<section class="container competitors wrapper">
    <div class="row competitors__wrapper">
        <div class="col-xs-12 text-xs-center competitors__header">
            <h2 class="h1">Who are your competitors?</h2>
            <h6>Schools that competed at IESE Spring Games 2016:</h6>
        </div>
        <div class="col-xs-12 competitors__content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">Bocconi</div>
                    <div class="col-xs-12 col-sm-6 col-md-3">EADA</div>
                    <div class="col-xs-12 col-sm-6 col-md-3">ESADE</div>
                    <div class="col-xs-12 col-sm-6 col-md-3">HEC Paris</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">Imperial College</div>
                    <div class="col-xs-12 col-sm-6 col-md-3">IE</div>
                    <div class="col-xs-12 col-sm-6 col-md-3">IESE</div>
                    <div class="col-xs-12 col-sm-6 col-md-3">INSEAD</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 offset-md-3">LBS</div>
                    <div class="col-xs-12 col-sm-6 col-md-3">Warwick</div>
                </div>
            </div>
        </div>
    </div>
</section>