<footer class="container-fluid footer wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 pr-0 mb-1">
                        <picture>
                            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,h_280,q_auto,w_280/c_scale,q_auto,w_200/v1480763613/16_Contact_imzr8h.png" media="(min-width: 768px)">
                            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,h_280,q_auto,w_280/c_scale,q_auto,w_100/v1480763613/16_Contact_imzr8h.png" class="img-fluid mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="row">
                            <div class="col-xs-12 text-xs-center text-md-left">
                                <h2 class="font-weight-bold mb-2">Contact Us</h2>
                                <h5 class="">We’re here to help! Please contact our school relations officers <%= link_to 'Edma', 'mailto:edma.perini@iese.net', :class => 'iese-alt' %> and <%= link_to 'Jigna', 'mailto:Jigna.dodia@iese.net', :class => 'iese-alt' %>.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>