<section class="hero container-fluid">
    <div class="row hero__content_wrapper__outer">
        <div class="col-xs-12 hero__content_wrapper">
            <div class="container hero__content">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h1 class="display-4 hidden-sm-down">Welcome to IESE Spring Games 2017!</h1>
                        <h1 class="hidden-sm-up">Welcome to IESE Spring Games 2017!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 offset-xs-1 text-xs-center">
                        <p>IESE Spring Games is Barcelona’s MBA Olympics, bringing together over 1000 students from top MBA schools all over the world.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 offset-xs-1 text-xs-center hidden-xs-down">
                        <p>At IESE Spring Games students try the sporting prowess in three days of sport on the beach and the field, and experience the best of Barcelona nightlife in three epic parties.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 offset-xs-1 text-xs-center text-xs-center">
                        <p>Ready to get involved?</p>
                    </div>
                    <div class="col-xs-10 offset-xs-1 text-xs-center text-xs-center">
                        <%= link_to 'Buy Tickets', 'https://www.picatic.com/iesespringgames', :class => 'btn btn-success btn-lg text-uppercase', :target => '_blank' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>