<div class="row mb-2">
    <div class="col-xs-12 col-sm-3 mb-1">
        <picture>
            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_220/c_scale,q_auto,w_160/v1480763614/4_Date_2_w2j9tk.png" media="(min-width: 768px)">
            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_220/c_scale,q_auto,w_110/v1480763614/4_Date_2_w2j9tk.png"class="img-fluid mx-auto d-block">
        </picture>
    </div>
    <div class="col-xs-12 col-sm-9 text-xs-center text-md-left content-wrapper">
        <div class="content">
            <h4 class="iese mb-0 font-weight-bold">Friday 30th December 2016:</h4>
            <% if @today < @early_bird %>
                <p>Early bird registration offer closes in <%= distance_of_time_in_words(@early_bird, @today, include_seconds: true)%></p>
            <% else %>
                <p>Early bird registration offer is closed</p>
            <% end %>
        </div>
    </div>
</div>