<section class="container dates">
    <div class="row dates__wrapper">
        <div class="col-xs-12 text-xs-center dates__header">
            <h2 class="h1">Key Dates</h2>
            <h6>Schools that competed at IESE Spring Games 2016:</h4>
        </div>
        <div class="col-xs-12 dates__content">

        </div>
    </div>
</section>