<section class="container mb-3">
    <div class="row">
        <div class="col-xs-12 col-sm-3 pr-0 mb-1">
            <picture>
                <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_250/v1480763614/3_Key_Dates_f59qog.png" media="(min-width: 768px)">
                <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_150/v1480763614/3_Key_Dates_f59qog.png" class="img-fluid mx-auto d-block">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-xs-12 text-xs-center text-md-left">
                        <h2 class="iese font-weight-bold">Key Dates</h2>
                        <h5 class="mb-3">Buy your early bird tickets now and save! To be up to date with key dates, news, and happenings follow <%= link_to 'our facebook page', 'https://www.facebook.com/IESESpringGames2017/', target: '_blank', :class => 'iese' %></h5>
                    </div>
                    <div class="col-xs-12">
                        <%= render :partial => 'partials/key-dates-early-bird'%>
                        <%= render :partial => 'partials/key-dates-regular'%>
                        <%= render :partial => 'partials/key-dates-closure'%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>