<div class="alert alert-success text-xs-center mb-0" role="alert">
Official registration is over but we have a limited extra release of spectator tickets! <strong>Get them before they’re all gone!</strong>
</div>