<div class="alert alert-success text-xs-center mb-0" role="alert">
 <strong>Three-day tickets have now closed.</strong><br>But you have until Wednesday 5th midnight to get your Closing Event Ticket!
<br><strong><%= link_to 'Buy Tickets', 'https://www.picatic.com/iesespringgames', :target => '_blank' %></strong>
</div>