<nav class="navbar navbar-light" style="background-color: #b10e10;">
    <a class="navbar-brand" href="#">
        <picture>
            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,h_100,q_auto,w_200/v1480430014/Logo_White_mx1ik0.png" media="(min-width: 992px)">
            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,h_60,q_auto,w_120/v1480430014/Logo_White_mx1ik0.png"></img>
        </picture>
    </a>
</nav>