<div class="row mb-3">
    <div class="col-xs-12 col-sm-3 mb-1">
        <picture>
            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_270/c_scale,w_200/v1480763613/13_Night_Sub_1_pncous.png" media="(min-width: 768px)">
            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_270/c_scale,w_100/v1480763613/13_Night_Sub_1_pncous.png" class="img-fluid mx-auto d-block">
        </picture>
    </div>
    <div class="col-xs-12 col-sm-9 text-xs-center text-md-left">
        <h4 class="iese-alt font-weight-bold">Thursday 6th April</h4>
        <h5 class="iese-alt mb-1">Welcome Party</h5>
        <p>At IESE, thursday night is our regular party and the biggest night of the week. We’ll take you to one of our favourite clubs where you can start to meet your rivals of the next few days, and get the party going.</p>
    </div>
</div>