<section class="container-fluid nightlife wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 pr-0 mb-1">
                        <picture>
                            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,q_auto,w_350/c_scale,q_auto,w_200/v1480763614/12_Night_Activities_vqbpcg.png" media="(min-width: 768px)">
                            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,q_auto,w_350/c_scale,q_auto,w_100/v1480763614/12_Night_Activities_vqbpcg.png" class="img-fluid mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="row">
                            <div class="col-xs-12 text-xs-center text-md-left">
                                <h2 class="iese-alt font-weight-bold">Spring Games by Night</h2>
                                <h5 class="mb-3">When you come to Barcelona you take on the Spanish nightlife, and we would not want you to leave disappointed! Your ticket gains you entry to three epic parties:</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <%= render :partial => 'partials/nightlife-1'%>
                                <%= render :partial => 'partials/nightlife-2'%>
                                <%= render :partial => 'partials/nightlife-3'%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>