<section class="container-fluid nightlife wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 pr-0 mb-1">
                        <picture>
                            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,q_auto,w_350/c_scale,q_auto,w_200/v1480763614/12_Night_Activities_vqbpcg.png" media="(min-width: 768px)">
                            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,q_auto,w_350/c_scale,q_auto,w_100/v1480763614/12_Night_Activities_vqbpcg.png" class="img-fluid mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="row">
                            <div class="col-xs-12 text-xs-center text-md-left">
                                <h2 class="iese-alt font-weight-bold">Spring Games by Night</h2>
                                <h5 class="mb-3">When you come to Barcelona you take on the Spanish nightlife, and we would not want you to leave disappointed! Your ticket gains you entry to three epic parties:</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row mb-2">
                                    <div class="col-xs-12 col-sm-3 mb-1">
                                        <picture>
                                            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_270/c_scale,w_200/v1480763613/13_Night_Sub_1_pncous.png" media="(min-width: 768px)">
                                            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_270/c_scale,w_100/v1480763613/13_Night_Sub_1_pncous.png" class="img-fluid mx-auto d-block">
                                        </picture>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 text-xs-center text-md-left">
                                        <h4 class="iese-alt font-weight-bold">Thursday 6th April</h4>
                                        <h5 class="iese-alt mb-1">Welcome Party</h5>
                                        <p>At IESE, thursday night is our regular party and the biggest night of the week. We’ll take you to one of our favourite clubs where you can start to meet your rivals of the next few days, and get the party going.</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-xs-12 col-sm-3 mb-1">
                                        <picture>
                                            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,q_auto,w_300/c_scale,q_auto,w_200/v1480763613/13_Night_Sub_2_wbo6kl.png" media="(min-width: 768px)">
                                            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,q_auto,w_300/c_scale,q_auto,w_100/v1480763613/13_Night_Sub_2_wbo6kl.png" class="img-fluid mx-auto d-block">
                                        </picture>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 text-xs-center text-md-left">
                                        <h4 class="iese-alt font-weight-bold">Friday 7th April</h4>
                                        <h5 class="iese-alt mb-1">Cocktail Mixer and Beach Club</h5>
                                        <p>After a great day of competition on the beach, we won’t take you too far – you’ll be hosted at one of the famous Barcelona beach clubs. After a cocktail introduction to meet and mingle with your fellow competitors, you’ll be able to party all night, and walk straight out onto the beach to watch the sunrise.</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-xs-12 col-sm-3 mb-1">
                                        <picture>
                                            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_260/c_scale,q_auto,w_200/v1480763613/13_Night_Sub_3_qonteq.png" media="(min-width: 768px)">
                                            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_260/c_scale,q_auto,w_100/v1480763613/13_Night_Sub_3_qonteq.png" class="img-fluid mx-auto d-block">
                                        </picture>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 text-xs-center text-md-left">
                                        <h4 class="iese-alt font-weight-bold">Saturday 8th April:</h4>
                                        <h5 class="iese-alt mb-1">Awards and Closing Ceremony (i.e. The Big Event)</h5>
                                        <p>You’ll be treated to dinner, the salsa competition, awards, and a huge party. What more could you ask for?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

