<div class="row">
    <div class="col-xs-12 col-sm-3 mb-1">
        <picture>
            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_260/c_scale,q_auto,w_200/v1480763613/13_Night_Sub_3_qonteq.png" media="(min-width: 768px)">
            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_crop,g_center,q_auto,w_260/c_scale,q_auto,w_100/v1480763613/13_Night_Sub_3_qonteq.png" class="img-fluid mx-auto d-block">
        </picture>
    </div>
    <div class="col-xs-12 col-sm-9 text-xs-center text-md-left">
        <h4 class="iese-alt font-weight-bold">Saturday 8th April:</h4>
        <h5 class="iese-alt mb-1">Awards and Closing Ceremony (i.e. The Big Event)</h5>
        <p>You’ll be treated to dinner, the salsa competition, awards, and a huge party. What more could you ask for?</p>
    </div>
</div>