<div class="row">
    <div class="col-xs-6 col-md-4">
        <picture>
            <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_300,q_auto,w_300/v1480768412/IESE_olwsds.png" media="(min-width: 992px)">
            <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_150,q_auto,w_150/v1480768412/IESE_olwsds.png">
        </picture>
    </div>
    <div class="col-xs-6 col-md-4">
        <picture>
            <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_300,q_auto,w_300/v1480765889/insead_ikuzfr.png" media="(min-width: 992px)">
            <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_150,q_auto,w_150/v1480765889/insead_ikuzfr.png">
        </picture>
    </div>
    <div class="col-xs-6 col-md-4">
        <picture>
            <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,h_2-0,q_auto,w_200/c_lpad,h_300,q_auto,w_300/v1480765888/LBS_sp2afg.png" media="(min-width: 992px)">
            <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,h_100,q_auto,w_100/c_lpad,h_150,q_auto,w_150/v1480765888/LBS_sp2afg.png">
        </picture>
    </div>
</div>