<div class="row">
    <div class="col-xs-6 col-md-4">
        <picture>
            <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_300,q_auto,w_300/v1480765891/bocconi_etregd.png" media="(min-width: 992px)">
            <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,q_auto,h_150,w_150/v1480765891/bocconi_etregd.png">
        </picture>
    </div>
    <div class="col-xs-6 col-md-4">
        <picture>
            <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,q_auto,w_300/v1480765888/eada_kxhu5t.png" media="(min-width: 992px)">
            <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,q_auto,w_150/v1480765888/eada_kxhu5t.png">
        </picture>
    </div>
    <div class="col-xs-6 col-md-4">
        <picture>
            <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,q_auto,h_300,w_300/v1480765889/esade_k4jmen.png" media="(min-width: 992px)">
            <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,q_auto,h_150,w_150/v1480765889/esade_k4jmen.png">
        </picture>
    </div>
    <div class="col-xs-6 col-md-4">
        <picture>
            <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_300,q_auto,w_300/v1480765889/hec_gpfgzl.png" media="(min-width: 992px)">
            <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_150,q_auto,w_150/v1480765889/hec_gpfgzl.png">
        </picture>
    </div>
    <div class="col-xs-6 col-md-4">
        <picture>
            <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_300,q_auto,w_300/v1480765889/ib-logo-retina_pybmz5.png" media="(min-width: 992px)">
            <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_150,q_auto,w_150/v1480765889/ib-logo-retina_pybmz5.png">
        </picture>
    </div>
    <div class="col-xs-6 col-md-4">
        <picture>
            <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_300,q_auto,w_300/v1480767398/ie-logo_cdn5xi.png" media="(min-width: 992px)">
            <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_150,q_auto,w_150/v1480767398/ie-logo_cdn5xi.png">
        </picture>
    </div>
</div>