<div class="row">
    <div class="col-xs-12 text-xs-center text-md-left pb-2">
        <h3 class="text-center">Silver Sponsors</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-5 offset-md-1">
        <a href="http://szoltandfrog.com/en/" target="_blank">
            <picture>
                <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_1200/v1490090962/logo_2_n8jaey.png" media="(min-width: 992px)">
                <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_600/v1490090962/logo_2_n8jaey.png" alt="szoltandfrog logo">
            </picture>
        </a>
    </div>
    <div class="col-xs-12 col-md-5">
        <a href="https://www.bluebanana.com/en" target="_blank">
            <picture>
                <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_1200/v1490090961/LogoAzul_riiv9k.png" media="(min-width: 992px)">
                <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_600/v1490090961/LogoAzul_riiv9k.png" alt="blue banana logo">
            </picture>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-5 offset-md-1">
        <a href="https://deliveroo.es/en/" target="_blank">
            <picture>
                <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,h_1200,q_auto,w_1200/v1490180057/Deliveroo-Logo_Full_CMYK_Teal_tjtefl.png" media="(min-width: 992px)">
                <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_1200/c_lpad,h_1200,q_auto,w_1200/c_scale,q_auto,w_600/v1490180057/Deliveroo-Logo_Full_CMYK_Teal_tjtefl.png" alt="deliveroo logo">
            </picture>
        </a>
    </div>
    <div class="col-xs-12 col-md-5">
        <a href="http://www.codorniu.com/en/" target="_blank">
            <picture>
                <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_lpad,h_2592,q_auto,w_2592/c_scale,q_auto,w_1200/v1490180524/Logo_corporatiu_castellà_13_cwbmvc.png" media="(min-width: 992px)">
                <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_lpad,h_2592,q_auto,w_2592/c_scale,q_auto,w_600/v1490180524/Logo_corporatiu_castellà_13_cwbmvc.png" alt="">
            </picture>
        </a>
    </div>
</div>