<div class="row">
    <div class="col-xs-12 text-xs-center text-md-left pb-2">
        <h3 class="text-center">Partners</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3 offset-md-2">
        <a href="https://www.estrelladamm.com/en" target="_blank">
            <picture>
                <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_1200/v1490091791/estrella_damm_upoig4.jpg" media="(min-width: 992px)">
                <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_600/v1490091791/estrella_damm_upoig4.jpg">
            </picture>
        </a>
    </div>
    <div class="col-xs-12 col-md-3 offset-md-2">
        <a href="https://www.caixabank.es/particular/holabank/particulares_en.html" target="_blank">
            <picture>
                <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_lpad,h_2000,w_2000/c_scale,q_auto,w_1200/v1490091633/Caixabank_ggncqq.png" media="(min-width: 992px)">
                <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_lpad,h_2000,w_2000/c_scale,q_auto,w_600/v1490091633/Caixabank_ggncqq.png">
            </picture>
        </a>
    </div>
</div>