<section class="container sponsors wrapper">
    <div class="row sponsors__header">
        <div class="col-xs-12 text-xs-center text-md-left">
            <h2 class="h1">Sponsors</h2>
        </div>
    </div>
    <div class="row sponsors__logo">
        <div class="col-xs-10 offset-xs-1 col-sm-5">
            <picture>
                <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_700,q_auto,w_700/v1480451526/estrella_nmifis.png" media="(min-width: 1200px)">
                <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_600,q_auto,w_600/v1480451526/estrella_nmifis.png" media="(min-width: 992px)">
                <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_992,q_auto,w_992/v1480451526/estrella_nmifis.png" media="(min-width: 768px)">
                <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_768,q_auto,w_768/v1480451526/estrella_nmifis.png" media="(min-width: 576px)">
                <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_576,q_auto,w_576/v1480451526/estrella_nmifis.png" alt="Estrella Damm Logo" class="img-fluid sponsors__logo__damm">
            </picture>
        </div>
        <div class="col-xs-10 offset-xs-1 offset-sm-0 col-sm-5">
            <picture>
                <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_700,q_auto,w_700/v1480451467/caixa_njk6hg.png" media="(min-width: 1200px)">
                <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_600,q_auto,w_600/v1480451467/caixa_njk6hg.png" media="(min-width: 992px)">
                <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_992,q_auto,w_992/v1480451467/caixa_njk6hg.png" media="(min-width: 768px)">
                <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_768,q_auto,w_768/v1480451467/caixa_njk6hg.png" media="(min-width: 576px)">
                <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_pad,h_324,q_auto,w_576/v1480451467/caixa_njk6hg.png" alt="CaixaBank Logo" class="img-fluid sponsors__logo__caixa">
            </picture>
        </div>
    </div>
</section>