<div class="row">
    <div class="col-xs-12 text-xs-center text-md-left pb-2">
        <h3 class="text-center">Silver Sponsor</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <a href="http://szoltandfrog.com/en/" target="_blank">
            <picture>
                <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_1200/v1490090962/logo_2_n8jaey.png" media="(min-width: 992px)">
                <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_600/v1490090962/logo_2_n8jaey.png">
            </picture>
        </a>
    </div>
    <div class="col-xs-12 col-md-6">
        <a href="https://www.bluebanana.com/en" target="_blank">
            <picture>
                <source src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_1200/v1490090961/LogoAzul_riiv9k.png" media="(min-width: 992px)">
                <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,q_auto,w_600/v1490090961/LogoAzul_riiv9k.png">
            </picture>
        </a>
    </div>
</div>