<section class="container team">
    <div class="row team__wrapper">
        <div class="col-xs-12 text-xs-center team__header">
            <h2 class="h1">Your IESE Spring Games Team</h2>
            <h6>Schools that competed at IESE Spring Games 2016:</h4>
        </div>
        <div class="col-xs-12 team__content">
            <%= render :partial => 'team/presidents'%>
        </div>
    </div>
</section>