<section class="container tickets mb-3">
    <div class="row">
        <div class="col-xs-12 col-sm-3 pr-0 mb-1">
            <picture>
                <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,h_250,q_auto,w_250/v1480763615/6_Fees_vujg4a.png" media="(min-width: 768px)">
                <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,h_150,q_auto,w_150/v1480763615/6_Fees_vujg4a.png" class="img-fluid mx-auto d-block">
            </picture>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-xs-12 text-xs-center text-md-left">
                        <h2 class="iese font-weight-bold">Ticket Packages</h2>
                        <h5 class="mb-3">So you’re coming! Glad to hear it. We have a a couple of different ticketing options, depending on how you want to spend your weekend:</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <%= render :partial => 'partials/tickets-athlete' %>
                        <%= render :partial => 'partials/tickets-spectator' %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 offset-xs-1 col-sm-8 offset-sm-2">
                        <%= link_to 'Buy Now', 'https://www.picatic.com/iesespringgames', :class => 'btn btn-success btn-lg text-uppercase btn-block', :target => '_blank' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>