<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 mb-2 text-xs-center text-md-left">
            <h4 class="iese mb-2 font-weight-bold">Competitive Sports</h4>
            <div class="row text-xs-center text-md-left">
                <div class="col-xs-12 mb-2">
                    <%= render :partial => 'team/person', locals: {given_name: "Osamah", surname: "Basamh", nationality: "Saudi Arabian", sport: "Rugby Player",
                    image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937623/4-CompetitiveSports-OsamahB_qdaijh.png", email: "" }%>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 mb-2 text-xs-center text-md-left">
            <h4 class="iese mb-2 font-weight-bold">Parties</h4>
            <div class="row text-xs-center text-md-left">
                <div class="col-xs-12 mb-2">
                    <%= render :partial => 'team/person', locals: {given_name: "Ana", surname: "de la Guardia", nationality: "Spanish", sport: "",
                    image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937623/5-Parties-AnaDlg_skgr4h.png", email: "ana.delaguardia@iese.net" }%>
                </div>
            </div>
        </div>
    </div>
</div>