<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 mb-2 text-xs-center text-md-left">
            <h4 class="iese mb-2 font-weight-bold">Finance</h4>
            <div class="row text-xs-center text-md-left">
                <div class="col-xs-12 mb-2">
                    <%= render :partial => 'team/person', locals: {given_name: "José María", surname: "Rodilla", nationality: "Spanish", sport: "Rugby Player",
                    image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/v1482937623/7-Finance-JoseRodilla_v2q16p.png", email: "josemaria.rodilla@iese.net" }%>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 mb-2 text-xs-center text-md-left">
            <h4 class="iese mb-2 font-weight-bold">Sponsorships</h4>
            <div class="row text-xs-center text-md-left">
                <div class="col-xs-12 mb-2">
                    <%= render :partial => 'team/person', locals: {given_name: "Fabio", surname: "Rodriguez", nationality: "Spanish", sport: "Runner",
                    image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937623/7-Finance-Fabio_svdevm.png", email: "" }%>
                </div>
            </div>
        </div>
    </div>
</div>