<div class="container-fluid mb-2">
    <div class="row">
        <div class="col-xs-12 mb-2 text-xs-center text-md-left">
            <h4 class="iese mb-0 font-weight-bold">Fun Sports</h4>
        </div>
    </div>
    <div class="row text-xs-center text-md-left">
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "Matt", surname: "Kloos", nationality: "South African", sport: "Track & Field Athlete",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937624/3-Fun-Sports-MattKloos_s8zcbg.png", email: "Matthew.Kloos@iese.net" }%>
        </div>
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "Vanessa", surname: "MacDougall", nationality: "British", sport: "Rugby/Tennis Player",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937624/3-Fun-Sports-VanessaM_axadze.png", email: "" }%>
        </div>
    </div>
</div>