<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-xs-12 mb-2 text-xs-center text-md-left">
            <h4 class="iese mb-0 font-weight-bold">Operations</h4>
        </div>
    </div>
    <div class="row text-xs-center text-md-left">
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "Pau", surname: "Puigpelat", nationality: "Spanish", sport: "Rugby Player",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937623/8-Operations-PauP_ja12ga.png", email: "" }%>
        </div>
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "Yanfeng", surname: "Huang", nationality: "Chinese", sport: "Volleyball Player",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/v1482937622/8-Operations-Yanfeng_ksbmji.png", email: "" }%>
        </div>
    </div>
</div>