<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 mb-2 text-xs-center text-md-left">
            <h4 class="iese mb-0 font-weight-bold">School Relations</h4>
        </div>
    </div>
    <div class="row text-xs-center text-md-left">
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "Edma", surname: "Perini", nationality: "Turkish", sport: "",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937624/2-School-Relations-EdmaP_qw2mte.png" }%>
        </div>
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "Jigna", surname: "Dodia", nationality: "British", sport: "",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937624/2-School-Relations-Jigna_htkqsw.png" }%>
        </div>
    </div>
</div>