<div class="row">
    <div class="col-xs-12">
        <picture>
            <source srcset="https://res.cloudinary.com/iesespg/image/upload/c_scale,q_92:420,w_768/v1479391406/spg_bh4omk.png" media="(min-width: 576px)">
            <source srcset="https://res.cloudinary.com/iesespg/image/upload/c_scale,q_90:420,w_992/v1479391449/WhatsApp_Image_2016-11-17_at_2.35.54_PM_1_aimscl.png" media="(min-width: 768px)">
            <source srcset="https://res.cloudinary.com/iesespg/image/upload/c_scale,q_90:420,w_1200/v1479391449/WhatsApp_Image_2016-11-17_at_2.35.54_PM_1_aimscl.png" media="(min-width: 992px)">
            <source srcset="https://res.cloudinary.com/iesespg/image/upload/q_90:420/v1479391449/WhatsApp_Image_2016-11-17_at_2.35.54_PM_1_aimscl.png" media="(min-width: 1200px)">
            <img src="https://res.cloudinary.com/iesespg/image/upload/c_scale,q_92:420,w_536/v1479391406/spg_bh4omk.png" alt="IESE Spring Game poster" class="img-responsive">
        </picture>
    </div>
</div>