<%= render :partial => 'partials/hero'%>
<%= render :partial => 'partials/sponsors'%>
<%= render :partial => 'partials/about-us'%>
<section class="container competitors">

</section>
<section class="container key-dates">

</section>
<section class="container team">

</section>
<section class="container tickets">

</section>
<section class="container gallery">

</section>
<section class="container agenda">

</section>
<section class="container nightlife">

</section>
<section class="containerar barcelona">

</section>
<section class="container gmap">

</section>
<section class="container contact">

</section>
<footer class="container">

</footer>